modules = ["nodejs-20", "postgresql-16"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["node", "src/index.js"]
deploymentTarget = "autoscale"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 23636
externalPort = 3000

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Chips.gg Bot"

[[workflows.workflow]]
name = "Chips.gg Bot"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node src/index.js"
waitForPort = 5000
